.section-two {
  display: flex;
  align-items: center;
}

.section-two > div {
  display: flex;
  align-items: center;
  row-gap: 2rem;
  flex-direction: column;
}

.section-three {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  /* padding: 5rem 1rem; */
  background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    /* padding: 5rem 1rem; */
    background-color: whitesmoke;
  }
}